<p>Subscritions</p>
<p>
  <strong>Title:</strong>
  <%= user.name %>
</p>

<h2>Plans</h2>



<h2>Add a Subscription:</h2>


<table>
  <tr>
    <th class="title">Name</th>
    <th>Fee</th>
    <th>Features</th>
  </tr>

  <% Plan.all.each do |plan| %>
    <tr>
      <td ><%= plan.name %></td>
      <td><%= plan.fee %></td>
      <td>
        <% plan.features.each do |feature| %>
          <%= feature.name %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<%= form_with(model: [ user.becomes(User), user.subscriptions.build ], local: true) do |form| %>
  <p>
    <%= form.label :billing_date %><br>
    <%= form.text_field :billing_date %>
  </p>

  <p>
    <%= form.label :plan_id, "Plan" %><br />
    <%= select_tag :plan_id, options_for_select(Plan.all.collect{ |u| [u.name, u.id] }) %>
  </p>
  <p>
    <%= form.submit %>
  </p>

<% end %>


