<div class="container" style="width: 200px; padding: 30px;">
  <%= form_with(model: @usage, local: true) do |form| %>
    <div class="form-group">
      <%= form.label :units_used %><br>
      <%= form.number_field :units_used %>
    </div>
    <div class="sub form-group">
      <%= form.label :subscription_id, "Subscription" %><br />
      <%= form.select :subscription_id, options_for_select(@subscriptions.collect{ |u| [u.id] }) %>
    </div>
    <div class="feature form-group">
      <%= form.label :feature_id, "Feature" %><br />
      <%= form.select :feature_id, options_for_select(@features.collect{ |u| [u.name, u.id] }) %>
    </div>
    <div>
      <%= form.submit "Create Usage", class: 'btn btn-success'%>
    </div>
  <% end %>
</div>
