 <div class="row">
   <div class="col-md-8 mx-auto" >
    <% if current_user.type == 'Buyer' %>
      <h2 class="p">Your Subscriptions</h2>
    <% end %>
    <%if current_user.type == 'Admin' %>
      <h2 class="p text-center"> <strong>Subscriptions</strong></h2>
    <% end %>
    <table class="table table-dark">
      <thead>
        <tr>
          <th>User</th>
          <th>Plan</th>
          <th>Billing Date</th>
        </tr>
      </thead>
      <tbody>
        <% @subscriptions.each do |subscription| %>
            <tr>
              <td>
                <%= subscription.user.name %>
              </td>
              <td>
                <%= subscription.plan.name %>
              </td>
              <td>
                <%= subscription.billing_date %>
              </td>
              <td>
                <%= link_to 'Usage', subscription_path(subscription), class:'link' %>
              </td>
              <% if current_user.type == 'Admin' %>
                <td>
                  <%= link_to 'Bill', billing_path(subscription.id), class:'link'  %>
                </td>
              <% end %>
            </tr>
        <% end %>
      </tbody>
    </table>
   </div>
 </div>
