<div class="row">
  <div class="col-md-6 mx-auto text-center">
    <h2 class="p">  <%= @subscription.plan.name %> Usage</h2>
    <table class="table table-dark">
      <thead>
        <tr>
          <th>Feature</th>
          <th>Maximum Allowed</th>
          <th>Units Used</th>
        </tr>
      </thead>
      <tbody>
        <% @plan.features.each do |feature| %>
            <tr>
              <td>
                <%= feature.name %>
              </td>
              <td>
                <%= feature.max_limit %>
              </td>
              <% if @subscription.usages.find_by(feature_id: feature.id).present? %>
                <td>
                    <% u = @subscription.usages.find_by(feature_id: feature.id) %>
                    <%= u.units_used %>
                </td>
              <% else %>
                <td>
                   0
                </td>
                <% if current_user.type == 'Admin'%>
                <td>
                  <%= link_to '+Add Usage', {:controller => 'usages', :action => 'new', :subscription_id => @subscription.id, :feature_id => feature.id}, method: :get %>
                </td>
                <% end %>
              <% end %>
              </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>
