<p>Show</p>
<p>
  <strong>Title:</strong>
  <%= user.name %>
</p>

<h2>Plans</h2>
<% user.plans.each do |plan| %>
  <p>
    <strong>Plan</strong>
    <%= plan.name %>
  </p>
<% end %>

<h2>Add a Plan:</h2>
<%= form_with(model: [ user.becomes(User), user.plans.build ], local: true) do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :fee %><br>
    <%= form.text_area :fee %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>


