<%= form_with model: @feature, local: true do |form| %>
  <% if @feature.errors.any?  %>
  <div>
    <h1> <%= pluralize(@feature.errors.count,'error') %> prohibited this feature from being saved. </h1>
    <ul>
    <%  @feature.errors.full_messages.each do |msg| %>
    <li> <%= msg %> </li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <%= form_with model: @feature do |form| %>
    <p>
      <%= form.label :name %><br>
      <%= form.text_field :name %>
    </p>

    <p>
      <%= form.label :unit_price %><br>
      <%= form.text_area :unit_price %>
    </p>

    <p>
      <%= form.submit %>
    </p>
  <% end %>

<% end %>
