
<%= form_with model: @feature, local: true do |form| %>
  <% if @feature.errors.any?  %>
  <div>
    <h1> <%= pluralize(@feature.errors.count,'error') %> prohibited this feature from being saved. </h1>
    <ul>
    <%  @feature.errors.full_messages.each do |msg| %>
    <li> <%= msg %> </li>
    <% end %>
    </ul>
  </div>
  <% end %>
<div class="container ">
  <%= form_with model: @feature do |form|, class:'form-group' %>
    <div class="field">
      <%= form.label :name %><br>
      <%= form.text_field :name %>
    </div>

    <div class="field">
      <%= form.label :unit_price %><br>
      <%= form.number_field :unit_price %>
    </div>

    <div class="field">
      <%= form.label :max_limit %><br>
      <%= form.number_field :max_limit %>
    </div>

    <div class="action">
      <%= form.submit %>
    </div>
  <% end %>
</div>
<% end %>
