<!DOCTYPE html>
<html>
  <head>
    <title>TestProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag   'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <div class="container">
      <% if user_signed_in? && current_user.type == 'Admin'  %>
        <%= render  "devise/shared/admin" %>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
